

@media all and (min-width: 1024px) {
	.contenedor {display: grid;
			grid-template-rows: 4em 10em 3em;
			grid-template-columns: 15% 65% 20%}
	.header { grid-row: 1; grid-column: 1/4; }
	.menu 
			
}
@media all and (min-width: 641px) and (max-width:1023px){
	
@media all and (max-width:640px) {
	

header {text-align: center; 
 }

body {
   background: url('images.jfif') 50% 50% no-repeat;
   background-size: cover; background-attachment: fixed; 
   font-family: calibri, sans-serif;   }



.barra, ul { list-style-type: none; letter-spacing: 1px;
}

a {text-decoration: none; font-variant: small-caps; }

main { }

#foot { background-image: url('footer.png'); text-align: center; }


